* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 
      linear-gradient(135deg, rgba(139, 129, 129, 0.4), rgba(136, 150, 156, 0.4)),
      url('images1/images/Image6.jpg') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: overlay;
    /* filter: blur(5px); soft, normal blur */
    z-index: -1;
  }
  
  
  .form-box {
    width: 400px;
    padding: 40px;
    /* background: rgba(244, 240, 240, 0.1); */
    background: rgba(255, 255, 255, 0.958);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(15px);
    animation: slideIn 1s ease forwards;
    transform: translateY(-50px);
    opacity: 0;
  }
  
  @keyframes slideIn {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .form-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #000;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 25px;
  }
  
  .input-group input, .input-group textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    color: #000;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
  }
  
  .input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    color: #000;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s ease;
  }
  
  .input-group input:focus ~ label,
  .input-group input:not(:placeholder-shown) ~ label,
  .input-group textarea:focus ~ label,
  .input-group textarea:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 13px;
    color: #007bff;
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #ddd;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-wrapper input[type="password"],
  .password-wrapper input[type="text"] {
    width: 100%;
    padding-right: 40px; /* Space for eye icon */
    box-sizing: border-box;
  }
  
  .eye-box {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #666;
  }
  

  @media (max-width: 480px) {
    .form-box {
      width: 90%;
      padding: 30px;
    }
  }
  